        </div>
    </main>
    <footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">MISE 4102 - 2019-1</span>
    </div>
    </footer>
</body>
<script src="/javascripts/bootstrap.bundle.min.js"></script>
</html>