<% include partials/head %>
  <h1 class="mt-5">Grupo 04</h1>
  <ul>
    <li>Felipe Cerón - jf.ceron10@uniandes.edu.co</li>
    <li>Juan Hernández - js.hernandez15@uniandes.edu.co</li>
    <li>Diego Sanabria - df.sanabria761@uniandes.edu.co</li>
  </ul>
<% include partials/footer %>