<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <% include partials/head %> 
</head>
<body class="d-flex flex-column h-100">
  <% include partials/menu %>
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Grupo 04</h1>
      <ul>
        <li>Felipe Cerón - jf.ceron10@uniandes.edu.co</li>
        <li>Juan Hernández - js.hernandez15@uniandes.edu.co</li>
        <li>Diego Sanabria - df.sanabria761@uniandes.edu.co</li>
      </ul>
    </div>
  </main>
  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>
</body>
<% include partials/script %>
</html>