<div class="row">
        <div class="col-lg">
            <h2>
                Resultados RF3
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rf3_collapse" aria-expanded="false" aria-controls="rf3_collapse">
                    +
                </button>
            </h2>
            
            <div class="collapse" id="rf3_collapse">
                <div class="card card-body">
                    <div>
                        <pre>
                            <code>
0 , 	29
0 , 0	1206
0 , 1	58
0 , 10	488
0 , 100	15337
0 , 101	109
0 , 102	540
0 , 106	576
0 , 107	14721
0 , 108	299
0 , 109	60
0 , 11	228
0 , 111	5
0 , 112	2403
0 , 113	12247
0 , 114	5681
0 , 115	105
0 , 116	2154
0 , 117	84
0 , 118	116
0 , 119	385
0 , 12	369
0 , 120	18
0 , 121	708
0 , 122	148
0 , 123	888
0 , 124	206
0 , 125	5044
0 , 126	287
0 , 127	624
0 , 128	69
0 , 129	2620
0 , 13	7461
0 , 130	1439
0 , 131	340
0 , 132	13044
0 , 133	539
0 , 134	911
0 , 135	490
0 , 136	381
0 , 137	9625
0 , 138	24965
0 , 139	237
0 , 14	1227
0 , 140	17510
0 , 141	18547
0 , 142	20556
0 , 143	10380
0 , 144	6620
0 , 145	2485
0 , 146	1143
0 , 147	224
0 , 148	4545
0 , 149	628
0 , 15	163
0 , 150	328
0 , 151	6961
0 , 152	1300
0 , 153	118
0 , 154	9
0 , 155	600
0 , 156	137
0 , 157	526
0 , 158	6770
0 , 159	703
0 , 16	414
0 , 160	429
0 , 161	33498
0 , 162	26963
0 , 163	21301
0 , 164	17724
0 , 165	1112
0 , 166	7049
0 , 167	453
0 , 168	770
0 , 169	531
0 , 17	2608
0 , 170	27393
0 , 171	439
0 , 172	80
0 , 173	596
0 , 174	657
0 , 175	269
0 , 176	39
0 , 177	752
0 , 178	382
0 , 179	1218
0 , 18	568
0 , 180	225
0 , 181	4244
0 , 182	335
0 , 183	140
0 , 184	12
0 , 185	464
0 , 186	24698
0 , 187	139
0 , 188	1740
0 , 189	1050
0 , 19	143
0 , 190	136
0 , 191	336
0 , 192	389
0 , 193	741
0 , 194	20
0 , 195	594
0 , 196	960
0 , 197	644
0 , 198	1306
0 , 2	2
0 , 20	415
0 , 200	439
0 , 201	24
0 , 202	132
0 , 203	252
0 , 204	19
0 , 205	464
0 , 206	182
0 , 207	145
0 , 208	308
0 , 209	1545
0 , 21	616
0 , 210	754
0 , 211	6344
0 , 212	296
0 , 213	511
0 , 214	95
0 , 215	460
0 , 216	737
0 , 217	438
0 , 218	283
0 , 219	289
0 , 22	752
0 , 220	594
0 , 221	135
0 , 222	236
0 , 223	1950
0 , 224	2994
0 , 225	1945
0 , 226	2924
0 , 227	553
0 , 228	974
0 , 229	14667
0 , 23	186
0 , 230	22292
0 , 231	14755
0 , 232	1905
0 , 233	10335
0 , 234	22577
0 , 235	596
0 , 236	35374
0 , 237	36620
0 , 238	15671
0 , 239	20534
0 , 24	2349
0 , 240	69
0 , 241	539
0 , 242	782
0 , 243	1403
0 , 244	3875
0 , 245	111
0 , 246	14576
0 , 247	883
0 , 248	263
0 , 249	9942
0 , 25	2733
0 , 250	355
0 , 251	69
0 , 252	218
0 , 253	15
0 , 254	711
0 , 255	2718
0 , 256	2103
0 , 257	549
0 , 258	461
0 , 259	372
0 , 26	1843
0 , 260	1737
0 , 261	4558
0 , 262	11117
0 , 263	12362
0 , 264	9723
0 , 265	1212
0 , 27	2
0 , 28	517
0 , 29	477
0 , 3	385
0 , 31	42
0 , 32	322
0 , 33	3316
0 , 34	286
0 , 35	982
0 , 36	1446
0 , 37	2042
0 , 38	137
0 , 39	1444
0 , 4	2502
0 , 40	1149
0 , 41	5672
0 , 42	4002
0 , 43	11377
0 , 44	31
0 , 45	2344
0 , 46	9
0 , 47	352
0 , 48	17685
0 , 49	2488
0 , 5	40
0 , 50	8373
0 , 51	464
0 , 52	1316
0 , 53	224
0 , 54	224
0 , 55	479
0 , 56	773
0 , 57	49
0 , 58	34
0 , 59	14
0 , 6	69
0 , 60	191
0 , 61	3351
0 , 62	1049
0 , 63	374
0 , 64	123
0 , 65	2847
0 , 66	1912
0 , 67	348
0 , 68	16275
0 , 69	888
0 , 7	4372
0 , 70	683
0 , 71	883
0 , 72	1045
0 , 73	265
0 , 74	6520
0 , 75	10074
0 , 76	1418
0 , 77	468
0 , 78	474
0 , 79	12051
0 , 8	15
0 , 80	1546
0 , 81	632
0 , 82	2926
0 , 83	574
0 , 84	41
0 , 85	458
0 , 86	82
0 , 87	5468
0 , 88	2780
0 , 89	1866
0 , 9	233
0 , 90	11956
0 , 91	1147
0 , 92	1145
0 , 93	112
0 , 94	230
0 , 95	2407
0 , 96	22
0 , 97	3023
0 , 98	196
0 , 99	3
1 , 	36
1 , 0	1841
1 , 1	46
1 , 10	462
1 , 100	12704
1 , 101	100
1 , 102	473
1 , 106	432
1 , 107	11892
1 , 108	285
1 , 109	52
1 , 11	210
1 , 111	4
1 , 112	1965
1 , 113	9944
1 , 114	5000
1 , 115	89
1 , 116	1838
1 , 117	83
1 , 118	94
1 , 119	397
1 , 12	261
1 , 120	30
1 , 121	630
1 , 122	147
1 , 123	845
1 , 124	185
1 , 125	4756
1 , 126	279
1 , 127	623
1 , 128	54
1 , 129	2187
1 , 13	6222
1 , 130	1287
1 , 131	343
1 , 132	9909
1 , 133	431
1 , 134	728
1 , 135	514
1 , 136	316
1 , 137	7400
1 , 138	20601
1 , 139	204
1 , 14	973
1 , 140	13178
1 , 141	13957
1 , 142	16406
1 , 143	8450
1 , 144	5225
1 , 145	2148
1 , 146	1018
1 , 147	217
1 , 148	3699
1 , 149	553
1 , 15	122
1 , 150	325
1 , 151	5550
1 , 152	1178
1 , 153	116
1 , 154	10
1 , 155	587
1 , 156	126
1 , 157	417
1 , 158	5636
1 , 159	567
1 , 16	352
1 , 160	349
1 , 161	26681
1 , 162	22134
1 , 163	17240
1 , 164	15441
1 , 165	873
1 , 166	6178
1 , 167	392
1 , 168	762
1 , 169	515
1 , 17	2190
1 , 170	21526
1 , 171	377
1 , 172	93
1 , 173	452
1 , 174	630
1 , 175	245
1 , 176	28
1 , 177	643
1 , 178	377
1 , 179	1049
1 , 18	510
1 , 180	201
1 , 181	3244
1 , 182	285
1 , 183	107
1 , 184	12
1 , 185	431
1 , 186	20366
1 , 187	105
1 , 188	1469
1 , 189	790
1 , 19	158
1 , 190	114
1 , 191	363
1 , 192	334
1 , 193	621
1 , 194	28
1 , 195	427
1 , 196	794
1 , 197	548
1 , 198	944
1 , 2	1
1 , 20	350
1 , 200	414
1 , 201	24
1 , 202	129
1 , 203	213
1 , 204	12
1 , 205	436
1 , 206	176
1 , 207	130
1 , 208	267
1 , 209	1257
1 , 21	528
1 , 210	693
1 , 211	5343
1 , 212	259
1 , 213	529
1 , 214	82
1 , 215	436
1 , 216	667
1 , 217	399
1 , 218	259
1 , 219	268
1 , 22	718
1 , 220	531
1 , 221	107
1 , 222	209
1 , 223	1724
1 , 224	2489
1 , 225	1510
1 , 226	2202
1 , 227	420
1 , 228	786
1 , 229	11420
1 , 23	206
1 , 230	17177
1 , 231	12333
1 , 232	1544
1 , 233	7875
1 , 234	19533
1 , 235	609
1 , 236	27440
1 , 237	29733
1 , 238	12635
1 , 239	15671
1 , 24	1913
1 , 240	44
1 , 241	484
1 , 242	617
1 , 243	1207
1 , 244	3283
1 , 245	111
1 , 246	13041
1 , 247	702
1 , 248	230
1 , 249	7882
1 , 25	2247
1 , 250	300
1 , 251	69
1 , 252	201
1 , 253	12
1 , 254	663
1 , 255	2009
1 , 256	1638
1 , 257	418
1 , 258	364
1 , 259	316
1 , 26	1602
1 , 260	1327
1 , 261	3665
1 , 262	8449
1 , 263	9310
1 , 264	8218
1 , 265	1097
1 , 27	1
1 , 28	418
1 , 29	440
1 , 3	284
1 , 31	32
1 , 32	245
1 , 33	2684
1 , 34	225
1 , 35	935
1 , 36	1051
1 , 37	1638
1 , 38	143
1 , 39	1304
1 , 4	1873
1 , 40	830
1 , 41	4550
1 , 42	3194
1 , 43	9508
1 , 44	21
1 , 45	1816
1 , 46	9
1 , 47	389
1 , 48	14396
1 , 49	1936
1 , 5	26
1 , 50	7236
1 , 51	425
1 , 52	1045
1 , 53	227
1 , 54	161
1 , 55	501
1 , 56	580
1 , 57	32
1 , 58	32
1 , 59	9
1 , 6	50
1 , 60	201
1 , 61	2964
1 , 62	993
1 , 63	362
1 , 64	102
1 , 65	2433
1 , 66	1557
1 , 67	321
1 , 68	13267
1 , 69	783
1 , 7	3849
1 , 70	529
1 , 71	726
1 , 72	929
1 , 73	253
1 , 74	5330
1 , 75	7846
1 , 76	1305
1 , 77	455
1 , 78	429
1 , 79	9590
1 , 8	12
1 , 80	1238
1 , 81	531
1 , 82	2267
1 , 83	501
1 , 84	31
1 , 85	469
1 , 86	72
1 , 87	4753
1 , 88	2547
1 , 89	1638
1 , 9	205
1 , 90	9752
1 , 91	901
1 , 92	971
1 , 93	86
1 , 94	221
1 , 95	1939
1 , 96	16
1 , 97	2441
1 , 98	190
1 , 99	1
10 , 1	14
10 , 10	53
10 , 100	5370
10 , 101	3
10 , 102	18
10 , 106	58
10 , 107	4958
10 , 108	15
10 , 11	11
10 , 112	131
10 , 113	3879
10 , 114	1929
10 , 116	486
10 , 117	2
10 , 118	2
10 , 119	35
10 , 12	117
10 , 120	4
10 , 121	66
10 , 122	4
10 , 123	37
10 , 124	6
10 , 125	1448
10 , 126	17
10 , 127	78
10 , 128	7
10 , 129	449
10 , 13	2552
10 , 130	232
10 , 131	17
10 , 132	4125
10 , 133	21
10 , 134	148
10 , 135	27
10 , 136	19
10 , 137	2961
10 , 138	9258
10 , 139	5
10 , 14	76
10 , 140	5906
10 , 141	6069
10 , 142	7248
10 , 143	3311
10 , 144	1663
10 , 145	547
10 , 146	279
10 , 147	13
10 , 148	1098
10 , 149	30
10 , 15	2
10 , 150	10
10 , 151	2259
10 , 152	358
10 , 153	13
10 , 154	2
10 , 155	38
10 , 157	18
10 , 158	1725
10 , 159	80
10 , 16	5
10 , 160	14
10 , 161	12350
10 , 162	9578
10 , 163	7908
10 , 164	6051
10 , 165	50
10 , 166	2193
10 , 167	30
10 , 168	102
10 , 169	25
10 , 17	153
10 , 170	8987
10 , 171	8
10 , 173	37
10 , 174	57
10 , 175	4
10 , 177	31
10 , 178	27
10 , 179	211
10 , 18	28
10 , 180	7
10 , 181	609
10 , 182	41
10 , 183	9
10 , 184	4
10 , 185	45
10 , 186	9037
10 , 187	1
10 , 188	105
10 , 189	72
10 , 19	2
10 , 190	15
10 , 191	19
10 , 192	31
10 , 193	223
10 , 194	9
10 , 195	23
10 , 196	242
10 , 197	19
10 , 198	7
10 , 20	17
10 , 200	10
10 , 202	10
10 , 203	10
10 , 205	21
10 , 206	2
10 , 207	20
10 , 208	17
10 , 209	430
10 , 21	23
10 , 210	85
10 , 211	1755
10 , 212	28
10 , 213	40
10 , 214	1
10 , 215	32
10 , 216	23
10 , 217	42
10 , 218	14
10 , 219	14
10 , 22	32
10 , 220	41
10 , 222	13
10 , 223	448
10 , 224	743
10 , 225	89
10 , 226	499
10 , 227	16
10 , 228	66
10 , 229	4860
10 , 23	1
10 , 230	7350
10 , 231	4129
10 , 232	229
10 , 233	3658
10 , 234	7665
10 , 235	26
10 , 236	12248
10 , 237	13858
10 , 238	5397
10 , 239	7168
10 , 24	775
10 , 240	3
10 , 241	17
10 , 242	105
10 , 243	183
10 , 244	879
10 , 246	3437
10 , 247	87
10 , 248	20
10 , 249	3035
10 , 25	530
10 , 250	29
10 , 252	7
10 , 254	17
10 , 255	160
10 , 256	103
10 , 257	28
10 , 258	12
10 , 259	6
10 , 26	52
10 , 260	352
10 , 261	1586
10 , 262	3724
10 , 263	4335
10 , 264	4079
10 , 265	86
10 , 28	38
10 , 29	13
10 , 3	26
10 , 31	8
10 , 32	14
10 , 33	858
10 , 34	10
10 , 35	37
10 , 36	9
10 , 37	41
10 , 38	2
10 , 39	46
10 , 4	385
10 , 40	209
10 , 41	1552
10 , 42	882
10 , 43	4615
10 , 45	523
10 , 47	29
10 , 48	5422
10 , 49	262
10 , 50	1998
10 , 51	23
10 , 52	350
10 , 53	7
10 , 54	13
10 , 55	72
10 , 56	52
10 , 57	1
10 , 6	1
10 , 60	7
10 , 61	180
10 , 62	51
10 , 63	7
10 , 64	4
10 , 65	709
10 , 66	440
10 , 67	8
10 , 68	5063
10 , 69	71
10 , 7	1107
10 , 70	46
10 , 71	38
10 , 72	35
10 , 73	7
10 , 74	1917
10 , 75	3282
10 , 76	70
10 , 77	29
10 , 78	38
10 , 79	3420
10 , 8	1
10 , 80	29
10 , 81	10
10 , 82	621
10 , 83	97
10 , 85	30
10 , 86	1
10 , 87	1694
10 , 88	939
10 , 89	74
10 , 9	3
10 , 90	3897
10 , 91	73
10 , 92	154
10 , 93	29
10 , 94	14
10 , 95	450
10 , 96	1
10 , 97	588
10 , 98	3
11 , 1	15
11 , 10	62
11 , 100	5488
11 , 101	4
11 , 102	15
11 , 106	61
11 , 107	4737
11 , 108	19
11 , 11	10
11 , 111	1
11 , 112	138
11 , 113	3721
11 , 114	1853
11 , 116	472
11 , 117	4
11 , 119	33
11 , 12	219
11 , 120	2
11 , 121	63
11 , 122	5
11 , 123	41
11 , 124	4
11 , 125	1419
11 , 126	22
11 , 127	82
11 , 128	6
11 , 129	507
11 , 13	2668
11 , 130	202
11 , 131	30
11 , 132	3730
11 , 133	21
11 , 134	158
11 , 135	36
11 , 136	32
11 , 137	2708
11 , 138	9068
11 , 139	12
11 , 14	76
11 , 140	5519
11 , 141	6221
11 , 142	6969
11 , 143	3168
11 , 144	1907
11 , 145	498
11 , 146	293
11 , 147	16
11 , 148	1109
11 , 149	37
11 , 15	4
11 , 150	7
11 , 151	2187
11 , 152	340
11 , 153	23
11 , 154	1
11 , 155	61
11 , 157	19
11 , 158	1636
11 , 159	98
11 , 16	7
11 , 160	15
11 , 161	11877
11 , 162	9229
11 , 163	7552
11 , 164	6054
11 , 165	61
11 , 166	1980
11 , 167	30
11 , 168	103
11 , 169	36
11 , 17	148
11 , 170	8999
11 , 171	9
11 , 173	70
11 , 174	62
11 , 175	6
11 , 177	37
11 , 178	22
11 , 179	253
11 , 18	32
11 , 180	11
11 , 181	580
11 , 182	39
11 , 183	12
11 , 185	30
11 , 186	10182
11 , 188	119
11 , 189	75
11 , 19	9
11 , 190	12
11 , 191	23
11 , 192	38
11 , 193	222
11 , 194	7
11 , 195	20
11 , 196	276
11 , 197	29
11 , 198	10
11 , 20	31
11 , 200	18
11 , 201	3
11 , 202	13
11 , 203	5
11 , 205	16
11 , 206	1
11 , 207	28
11 , 208	22
11 , 209	424
11 , 21	31
11 , 210	74
11 , 211	1791
11 , 212	38
11 , 213	45
11 , 214	1
11 , 215	35
11 , 216	37
11 , 217	21
11 , 218	10
11 , 219	10
11 , 22	42
11 , 220	39
11 , 221	1
11 , 222	16
11 , 223	436
11 , 224	739
11 , 225	90
11 , 226	616
11 , 227	24
11 , 228	47
11 , 229	4603
11 , 230	7607
11 , 231	4034
11 , 232	253
11 , 233	3401
11 , 234	7164
11 , 235	18
11 , 236	12265
11 , 237	13150
11 , 238	5003
11 , 239	7057
11 , 24	730
11 , 241	14
11 , 242	85
11 , 243	172
11 , 244	778
11 , 246	2769
11 , 247	95
11 , 248	12
11 , 249	2950
11 , 25	567
11 , 250	20
11 , 252	5
11 , 253	1
11 , 254	24
11 , 255	143
11 , 256	74
11 , 257	23
11 , 258	6
11 , 259	5
11 , 26	76
11 , 260	476
11 , 261	1957
11 , 262	3586
11 , 263	4213
11 , 264	3846
11 , 265	112
11 , 28	43
11 , 29	23
11 , 3	33
11 , 31	13
11 , 32	19
11 , 33	836
11 , 34	10
11 , 35	55
11 , 36	17
11 , 37	43
11 , 38	6
11 , 39	44
11 , 4	381
11 , 40	197
11 , 41	1581
11 , 42	878
11 , 43	4785
11 , 45	569
11 , 47	23
11 , 48	5547
11 , 49	237
11 , 50	2034
11 , 51	43
11 , 52	334
11 , 53	11
11 , 54	10
11 , 55	62
11 , 56	41
11 , 57	4
11 , 6	1
11 , 60	11
11 , 61	209
11 , 62	41
11 , 63	9
11 , 64	1
11 , 65	673
11 , 66	407
11 , 67	14
11 , 68	5143
11 , 69	86
11 , 7	1105
11 , 70	38
11 , 71	53
11 , 72	44
11 , 73	5
        11 , 74	2175
11 , 75	3005
11 , 76	98
11 , 77	27
11 , 78	38
11 , 79	3386
11 , 80	24
11 , 81	17
11 , 82	773
11 , 83	118
11 , 85	25
11 , 86	1
11 , 87	1659
11 , 88	1048
11 , 89	83
11 , 9	8
11 , 90	3750
11 , 91	76
11 , 92	132
11 , 93	25
11 , 94	9
11 , 95	460
11 , 96	2
11 , 97	533
11 , 98	12
2 , 	23
2 , 0	692
2 , 1	38
2 , 10	514
2 , 100	11093
2 , 101	92
2 , 102	375
2 , 106	415
2 , 107	10871
2 , 108	292
2 , 109	56
2 , 11	193
2 , 111	6
2 , 112	2048
2 , 113	8741
2 , 114	4400
2 , 115	77
2 , 116	1581
2 , 117	103
2 , 118	81
2 , 119	417
2 , 12	273
2 , 120	17
2 , 121	640
2 , 122	172
2 , 123	949
2 , 124	178
2 , 125	3852
2 , 126	281
2 , 127	527
2 , 128	45
2 , 129	2179
2 , 13	5705
2 , 130	1309
2 , 131	291
2 , 132	8250
2 , 133	501
2 , 134	721
2 , 135	515
2 , 136	299
2 , 137	6883
2 , 138	17721
2 , 139	208
2 , 14	993
2 , 140	12290
2 , 141	12452
2 , 142	14976
2 , 143	7525
2 , 144	4770
2 , 145	2125
2 , 146	977
2 , 147	212
2 , 148	3615
2 , 149	599
2 , 15	102
2 , 150	373
2 , 151	4932
2 , 152	1077
2 , 153	121
2 , 154	15
2 , 155	557
2 , 156	120
2 , 157	427
2 , 158	4833
2 , 159	588
2 , 16	360
2 , 160	334
2 , 161	23784
2 , 162	20246
2 , 163	16115
2 , 164	13767
2 , 165	1056
2 , 166	5298
2 , 167	432
2 , 168	708
2 , 169	513
2 , 17	2363
2 , 170	19361
2 , 171	319
2 , 172	50
2 , 173	491
2 , 174	548
2 , 175	213
2 , 176	23
2 , 177	713
2 , 178	366
2 , 179	1080
2 , 18	504
2 , 180	183
2 , 181	2848
2 , 182	312
2 , 183	130
2 , 184	16
2 , 185	404
2 , 186	18227
2 , 187	80
2 , 188	1513
2 , 189	700
2 , 19	145
2 , 190	113
2 , 191	386
2 , 192	311
2 , 193	567
2 , 194	29
2 , 195	374
2 , 196	745
2 , 197	608
2 , 198	994
2 , 199	4
2 , 20	351
2 , 200	313
2 , 201	37
2 , 202	92
2 , 203	211
2 , 204	21
2 , 205	467
2 , 206	169
2 , 207	70
2 , 208	274
2 , 209	1149
2 , 21	618
2 , 210	743
2 , 211	4533
2 , 212	254
2 , 213	540
2 , 214	79
2 , 215	481
2 , 216	726
2 , 217	467
2 , 218	262
2 , 219	293
2 , 22	763
2 , 220	477
2 , 221	108
2 , 222	202
2 , 223	1607
2 , 224	2215
2 , 225	1535
2 , 226	2147
2 , 227	438
2 , 228	833
2 , 229	10003
2 , 23	166
2 , 230	17410
2 , 231	10558
2 , 232	1411
2 , 233	7874
2 , 234	17602
2 , 235	585
2 , 236	24190
2 , 237	26364
2 , 238	11151
2 , 239	14314
2 , 24	1657
2 , 240	52
2 , 241	444
2 , 242	664
2 , 243	1020
2 , 244	2857
2 , 245	75
2 , 246	8969
2 , 247	689
2 , 248	249
2 , 249	6960
2 , 25	1982
2 , 250	307
2 , 251	65
2 , 252	163
2 , 253	10
2 , 254	508
2 , 255	1839
2 , 256	1658
2 , 257	402
2 , 258	394
2 , 259	277
2 , 26	1903
2 , 260	1335
2 , 261	3560
2 , 262	7695
2 , 263	8788
2 , 264	7196
2 , 265	974
2 , 27	3
2 , 28	401
2 , 29	472
2 , 3	296
2 , 31	41
2 , 32	276
2 , 33	2483
2 , 34	193
2 , 35	1016
2 , 36	1069
2 , 37	1648
2 , 38	156
2 , 39	1261
2 , 4	1661
2 , 40	859
2 , 41	4189
2 , 42	3049
2 , 43	8258
2 , 44	18
2 , 45	1575
2 , 46	13
2 , 47	347
2 , 48	13613
2 , 49	1860
2 , 5	22
2 , 50	6440
2 , 51	360
2 , 52	970
2 , 53	191
2 , 54	147
2 , 55	451
2 , 56	532
2 , 57	46
2 , 58	26
2 , 59	14
2 , 6	49
2 , 60	210
2 , 61	2770
2 , 62	925
2 , 63	409
2 , 64	111
2 , 65	2125
2 , 66	1379
2 , 67	331
2 , 68	11568
2 , 69	708
2 , 7	3471
2 , 70	520
2 , 71	748
2 , 72	999
2 , 73	216
2 , 74	4826
2 , 75	7289
2 , 76	1377
2 , 77	470
2 , 78	428
2 , 79	8862
2 , 8	10
2 , 80	1233
2 , 81	320
2 , 82	2053
2 , 83	463
2 , 84	29
2 , 85	434
2 , 86	88
2 , 87	4276
2 , 88	2334
2 , 89	1681
2 , 9	196
2 , 90	8782
2 , 91	976
2 , 92	966
2 , 93	79
2 , 94	206
2 , 95	1726
2 , 96	11
2 , 97	2207
2 , 98	206
2 , 99	3
3 , 	8
3 , 0	12
3 , 1	52
3 , 10	643
3 , 100	12672
3 , 101	109
3 , 102	416
3 , 106	462
3 , 107	12113
3 , 108	312
3 , 109	70
3 , 11	227
3 , 111	11
3 , 112	2070
3 , 113	9856
3 , 114	5173
3 , 115	89
3 , 116	1886
3 , 117	118
3 , 118	135
3 , 119	459
3 , 12	392
3 , 120	25
3 , 121	737
3 , 122	189
3 , 123	741
3 , 124	215
3 , 125	4211
3 , 126	369
3 , 127	620
3 , 128	50
3 , 129	2444
3 , 13	6708
3 , 130	1371
3 , 131	394
3 , 132	11841
3 , 133	470
3 , 134	706
3 , 135	477
3 , 136	362
3 , 137	7455
3 , 138	22601
3 , 139	279
3 , 14	1106
3 , 140	13539
3 , 141	13934
3 , 142	17139
3 , 143	8575
3 , 144	5217
3 , 145	2242
3 , 146	973
3 , 147	255
3 , 148	3851
3 , 149	527
3 , 15	151
3 , 150	338
3 , 151	5639
3 , 152	1199
3 , 153	127
3 , 154	27
3 , 155	591
3 , 156	156
3 , 157	455
3 , 158	5397
3 , 159	629
3 , 16	459
3 , 160	346
3 , 161	28522
3 , 162	22198
3 , 163	18209
3 , 164	15156
3 , 165	750
3 , 166	6331
3 , 167	503
3 , 168	822
3 , 169	654
3 , 17	2150
3 , 170	21338
3 , 171	404
3 , 172	72
3 , 173	464
3 , 174	619
3 , 175	247
3 , 176	41
3 , 177	722
3 , 178	268
3 , 179	1138
3 , 18	601
3 , 180	201
3 , 181	3229
3 , 182	369
3 , 183	166
3 , 184	16
3 , 185	512
3 , 186	21232
3 , 187	103
3 , 188	1550
3 , 189	806
3 , 19	176
3 , 190	225
3 , 191	431
3 , 192	353
3 , 193	654
3 , 194	28
3 , 195	448
3 , 196	743
3 , 197	667
3 , 198	839
3 , 2	1
3 , 20	483
3 , 200	418
3 , 201	37
3 , 202	123
3 , 203	272
3 , 204	24
3 , 205	584
3 , 206	205
3 , 207	75
3 , 208	345
3 , 209	1329
3 , 21	645
3 , 210	786
3 , 211	5049
3 , 212	341
3 , 213	679
3 , 214	122
3 , 215	506
3 , 216	828
3 , 217	293
3 , 218	315
3 , 219	349
3 , 22	935
3 , 220	596
3 , 221	126
3 , 222	239
3 , 223	1772
3 , 224	2505
3 , 225	1668
3 , 226	2274
3 , 227	492
3 , 228	879
3 , 229	12044
3 , 23	205
3 , 230	18400
3 , 231	12256
3 , 232	1568
3 , 233	8729
3 , 234	19636
3 , 235	708
3 , 236	28075
3 , 237	31308
3 , 238	12737
3 , 239	16772
3 , 24	1997
3 , 240	59
3 , 241	607
3 , 242	785
3 , 243	1263
3 , 244	3368
3 , 245	96
3 , 246	9259
3 , 247	860
3 , 248	331
3 , 249	8018
3 , 25	2221
3 , 250	379
3 , 251	80
3 , 252	192
3 , 253	8
3 , 254	648
3 , 255	2159
3 , 256	1677
3 , 257	434
3 , 258	445
3 , 259	376
3 , 26	1231
3 , 260	1461
3 , 261	3916
3 , 262	8761
3 , 263	9857
3 , 264	7174
3 , 265	1180
3 , 27	4
3 , 28	510
3 , 29	439
3 , 3	364
3 , 30	2
3 , 31	71
3 , 32	328
3 , 33	2791
3 , 34	245
3 , 35	1169
3 , 36	1107
3 , 37	1753
3 , 38	154
3 , 39	1541
3 , 4	1866
3 , 40	871
3 , 41	4711
3 , 42	3478
3 , 43	10170
3 , 44	34
3 , 45	1812
3 , 46	9
3 , 47	455
3 , 48	14692
3 , 49	2061
3 , 5	39
3 , 50	6995
3 , 51	449
3 , 52	1042
3 , 53	259
3 , 54	178
3 , 55	484
3 , 56	603
3 , 57	46
3 , 58	24
3 , 59	21
3 , 6	79
3 , 60	263
3 , 61	2856
3 , 62	894
3 , 63	435
3 , 64	108
3 , 65	2434
3 , 66	1770
3 , 67	347
3 , 68	12850
3 , 69	935
3 , 7	3960
3 , 70	606
3 , 71	873
3 , 72	1082
3 , 73	275
3 , 74	5498
3 , 75	7971
3 , 76	1567
3 , 77	526
3 , 78	531
3 , 79	9632
3 , 8	12
3 , 80	1282
3 , 81	432
3 , 82	2273
3 , 83	531
3 , 84	45
3 , 85	494
3 , 86	80
3 , 87	5139
3 , 88	2786
3 , 89	1628
3 , 9	182
3 , 90	9859
3 , 91	1010
3 , 92	1092
3 , 93	108
3 , 94	257
3 , 95	1928
3 , 96	21
3 , 97	2455
3 , 98	246
3 , 99	2
4 , 	33
4 , 0	38
4 , 1	56
4 , 10	814
4 , 100	15273
4 , 101	209
4 , 102	594
4 , 106	657
4 , 107	14977
4 , 108	458
4 , 109	84
4 , 11	344
4 , 111	21
4 , 112	2392
4 , 113	11639
4 , 114	6413
4 , 115	102
4 , 116	2282
4 , 117	88
4 , 118	150
4 , 119	594
4 , 12	461
4 , 120	26
4 , 121	752
4 , 122	259
4 , 123	1228
4 , 124	247
4 , 125	5178
4 , 126	450
4 , 127	796
4 , 128	56
4 , 129	3174
4 , 13	8146
4 , 130	1990
4 , 131	464
4 , 132	16483
4 , 133	606
4 , 134	1070
4 , 135	646
4 , 136	499
4 , 137	9267
4 , 138	33570
4 , 139	315
4 , 14	1609
4 , 140	16404
4 , 141	17458
4 , 142	20585
4 , 143	10316
4 , 144	6482
4 , 145	2911
4 , 146	1501
4 , 147	387
4 , 148	4883
4 , 149	795
4 , 15	177
4 , 150	594
4 , 151	6950
4 , 152	1437
4 , 153	164
4 , 154	20
4 , 155	860
4 , 156	194
4 , 157	556
4 , 158	6108
4 , 159	882
4 , 16	556
4 , 160	500
4 , 161	34682
4 , 162	26620
4 , 163	21675
4 , 164	18497
4 , 165	1360
4 , 166	8373
4 , 167	577
4 , 168	1049
4 , 169	821
4 , 17	2898
4 , 170	26188
4 , 171	539
4 , 172	84
4 , 173	462
4 , 174	891
4 , 175	362
4 , 176	56
4 , 177	900
4 , 178	525
4 , 179	1342
4 , 18	751
4 , 180	279
4 , 181	4280
4 , 182	479
4 , 183	219
4 , 184	21
4 , 185	627
4 , 186	25876
4 , 187	143
4 , 188	2143
4 , 189	1060
4 , 19	244
4 , 190	253
4 , 191	551
4 , 192	499
4 , 193	835
4 , 194	75
4 , 195	581
4 , 196	1083
4 , 197	778
4 , 198	1263
4 , 2	4
4 , 20	587
4 , 200	608
4 , 201	39
4 , 202	176
4 , 203	320
4 , 204	38
4 , 205	730
4 , 206	260
4 , 207	147
4 , 208	447
4 , 209	1579
4 , 21	884
4 , 210	1069
4 , 211	6193
4 , 212	410
4 , 213	876
4 , 214	138
4 , 215	624
4 , 216	980
4 , 217	562
4 , 218	407
4 , 219	433
4 , 22	1246
4 , 220	809
4 , 221	190
4 , 222	349
4 , 223	2150
4 , 224	2838
4 , 225	2074
4 , 226	3119
4 , 227	734
4 , 228	1305
4 , 229	14534
4 , 23	331
4 , 230	21511
4 , 231	14552
4 , 232	2026
4 , 233	10977
4 , 234	22847
4 , 235	931
4 , 236	35136
4 , 237	38564
4 , 238	15996
4 , 239	20040
4 , 24	2598
4 , 240	91
4 , 241	736
4 , 242	944
4 , 243	1669
4 , 244	4281
4 , 245	122
4 , 246	12721
4 , 247	1088
4 , 248	410
4 , 249	9721
4 , 25	2918
4 , 250	492
4 , 251	102
4 , 252	301
4 , 253	14
4 , 254	851
4 , 255	2582
4 , 256	2159
4 , 257	515
4 , 258	544
4 , 259	455
4 , 26	2311
4 , 260	2032
4 , 261	4767
4 , 262	10919
4 , 263	11857
4 , 264	8282
4 , 265	8055
4 , 27	5
4 , 28	616
4 , 29	649
4 , 3	474
4 , 30	5
4 , 31	74
4 , 32	484
4 , 33	3448
4 , 34	261
4 , 35	1297
4 , 36	1472
4 , 37	2145
4 , 38	214
4 , 39	1872
4 , 4	2127
4 , 40	1110
4 , 41	5578
4 , 42	4189
4 , 43	13360
4 , 44	56
4 , 45	2202
4 , 46	12
4 , 47	552
4 , 48	17690
4 , 49	2476
4 , 5	50
4 , 50	7874
4 , 51	592
4 , 52	1238
4 , 53	336
4 , 54	210
4 , 55	850
4 , 56	669
4 , 57	50
4 , 58	52
4 , 59	25
4 , 6	87
4 , 60	316
4 , 61	3747
4 , 62	1226
4 , 63	546
4 , 64	168
4 , 65	3129
4 , 66	2208
4 , 67	464
4 , 68	15908
4 , 69	1177
4 , 7	4719
4 , 70	787
4 , 71	1102
4 , 72	1226
4 , 73	331
4 , 74	6645
4 , 75	9474
4 , 76	1986
4 , 77	590
4 , 78	695
4 , 79	11679
4 , 8	14
4 , 80	1642
4 , 81	655
4 , 82	3155
4 , 83	747
4 , 84	65
4 , 85	667
4 , 86	155
4 , 87	6310
4 , 88	3280
4 , 89	2470
4 , 9	287
4 , 90	12048
4 , 91	1355
4 , 92	1397
4 , 93	180
4 , 94	312
4 , 95	2783
4 , 96	25
4 , 97	3298
4 , 98	281
4 , 99	5
5 , 	50849
5 , 1	102
5 , 10	674
5 , 100	13705
5 , 101	212
5 , 102	456
5 , 105	1
5 , 106	515
5 , 107	12633
5 , 108	397
5 , 109	114
5 , 11	247
5 , 111	23
5 , 112	2195
5 , 113	9581
5 , 114	5235
5 , 115	124
5 , 116	2340
5 , 117	121
5 , 118	200
5 , 119	564
5 , 12	426
5 , 120	95
5 , 121	638
5 , 122	183
5 , 123	1089
5 , 124	253
5 , 125	4585
5 , 126	361
5 , 127	729
5 , 128	62
5 , 129	2858
5 , 13	7196
5 , 130	1526
5 , 131	363
5 , 132	11761
5 , 133	535
5 , 134	807
5 , 135	574
5 , 136	450
5 , 137	7774
5 , 138	23780
5 , 139	284
5 , 14	1305
5 , 140	14154
5 , 141	14947
5 , 142	17998
5 , 143	8927
5 , 144	5676
5 , 145	2282
5 , 146	1180
5 , 147	363
5 , 148	4804
5 , 149	729
5 , 15	288
5 , 150	406
5 , 151	5972
5 , 152	1427
5 , 153	119
5 , 154	40
5 , 155	780
5 , 156	196
5 , 157	528
5 , 158	5003
5 , 159	816
5 , 16	512
5 , 160	458
5 , 161	30039
5 , 162	22931
5 , 163	18179
5 , 164	15819
5 , 165	1291
5 , 166	5802
5 , 167	627
5 , 168	878
5 , 169	745
5 , 17	2529
5 , 170	22557
5 , 171	465
5 , 172	108
5 , 173	521
5 , 174	840
5 , 175	278
5 , 176	54
5 , 177	952
5 , 178	491
5 , 179	1293
5 , 18	745
5 , 180	272
5 , 181	3596
5 , 182	420
5 , 183	197
5 , 184	35
5 , 185	620
5 , 186	20793
5 , 187	95
5 , 188	1824
5 , 189	825
5 , 19	178
5 , 190	221
5 , 191	484
5 , 192	423
5 , 193	732
5 , 194	37
5 , 195	534
5 , 196	904
5 , 197	713
5 , 198	1174
5 , 2	1
5 , 20	505
5 , 200	715
5 , 201	50
5 , 202	162
5 , 203	305
5 , 204	42
5 , 205	598
5 , 206	431
5 , 207	97
5 , 208	435
5 , 209	1298
5 , 21	686
5 , 210	878
5 , 211	5240
5 , 212	308
5 , 213	754
5 , 214	191
5 , 215	601
5 , 216	926
5 , 217	628
5 , 218	375
5 , 219	419
5 , 22	826
5 , 220	735
5 , 221	281
5 , 222	296
5 , 223	1974
5 , 224	2273
5 , 225	2003
5 , 226	2398
5 , 227	514
5 , 228	1057
5 , 229	12819
5 , 23	333
5 , 230	18266
5 , 231	12726
5 , 232	1961
5 , 233	9848
5 , 234	19663
5 , 235	720
5 , 236	28876
5 , 237	32201
5 , 238	14149
5 , 239	17231
5 , 24	2224
5 , 240	118
5 , 241	598
5 , 242	896
5 , 243	1604
5 , 244	3889
5 , 245	201
5 , 246	10707
5 , 247	1115
5 , 248	366
5 , 249	8093
5 , 25	2756
5 , 250	447
5 , 251	167
5 , 252	341
5 , 253	9
5 , 254	674
5 , 255	2247
5 , 256	1875
5 , 257	458
5 , 258	485
5 , 259	573
5 , 26	2241
5 , 260	1509
5 , 261	4010
5 , 262	9413
5 , 263	10165
5 , 264	6631
5 , 265	1779
5 , 27	7
5 , 28	507
5 , 29	515
5 , 3	399
5 , 30	7
5 , 31	124
5 , 32	389
5 , 33	3098
5 , 34	266
5 , 35	1151
5 , 36	1408
5 , 37	2054
5 , 38	254
5 , 39	1655
5 , 4	1828
5 , 40	980
5 , 41	5150
5 , 42	3581
5 , 43	11720
5 , 44	67
5 , 45	1968
5 , 46	17
5 , 47	509
5 , 48	15665
5 , 49	2223
5 , 5	54
5 , 50	6209
5 , 51	513
5 , 52	1074
5 , 53	296
5 , 54	193
5 , 55	645
5 , 56	766
5 , 57	38
5 , 58	60
5 , 59	26
5 , 6	107
5 , 60	293
5 , 61	3531
5 , 62	1114
5 , 63	526
5 , 64	151
5 , 65	2909
5 , 66	1914
5 , 67	397
5 , 68	12607
5 , 69	1051
5 , 7	4114
5 , 70	754
5 , 71	976
5 , 72	1139
5 , 73	240
5 , 74	5562
5 , 75	8226
5 , 76	1744
5 , 77	536
5 , 78	611
5 , 79	9645
5 , 8	19
5 , 80	1459
5 , 81	486
5 , 82	2507
5 , 83	563
5 , 84	77
5 , 85	568
5 , 86	205
5 , 87	5485
5 , 88	2793
5 , 89	1969
5 , 9	264
5 , 90	10174
5 , 91	1341
5 , 92	1211
5 , 93	208
5 , 94	311
5 , 95	2217
5 , 96	48
5 , 97	2602
5 , 98	221
5 , 99	34
6 , 1	19
6 , 10	32
6 , 100	4962
6 , 101	19
6 , 102	7
6 , 106	57
6 , 107	4454
6 , 108	11
6 , 11	5
6 , 112	146
6 , 113	3150
6 , 114	1569
6 , 115	1
6 , 116	471
6 , 117	2
6 , 118	1
6 , 119	32
6 , 12	196
6 , 120	3
6 , 121	31
6 , 122	2
6 , 123	11
6 , 124	5
6 , 125	1372
6 , 126	10
6 , 127	78
6 , 128	7
6 , 129	475
6 , 13	2298
6 , 130	172
6 , 131	14
6 , 132	4204
6 , 133	18
6 , 134	137
6 , 135	15
6 , 136	13
6 , 137	2553
6 , 138	7989
6 , 139	5
6 , 14	37
6 , 140	4585
6 , 141	5154
6 , 142	5875
6 , 143	2543
6 , 144	1669
6 , 145	445
6 , 146	272
6 , 147	15
6 , 148	1183
6 , 149	12
6 , 15	3
6 , 150	5
6 , 151	1914
6 , 152	388
6 , 153	13
6 , 154	1
6 , 155	18
6 , 157	18
6 , 158	1707
6 , 159	87
6 , 16	5
6 , 160	12
6 , 161	10060
6 , 162	8215
6 , 163	6390
6 , 164	5375
6 , 165	26
6 , 166	1586
6 , 167	29
6 , 168	76
6 , 169	22
6 , 17	157
6 , 170	8192
6 , 171	3
6 , 173	57
6 , 174	39
6 , 175	2
6 , 177	23
6 , 178	8
6 , 179	202
6 , 18	28
6 , 180	5
6 , 181	535
6 , 182	36
6 , 183	8
6 , 184	3
6 , 185	24
6 , 186	8130
6 , 188	81
6 , 189	62
6 , 19	4
6 , 190	16
6 , 191	8
6 , 192	36
6 , 193	165
6 , 194	5
6 , 195	18
6 , 196	172
6 , 197	16
6 , 198	8
6 , 20	16
6 , 200	4
6 , 201	2
6 , 202	9
6 , 203	2
6 , 205	9
6 , 207	31
6 , 208	16
6 , 209	366
6 , 21	7
6 , 210	59
6 , 211	1534
6 , 212	27
6 , 213	24
6 , 215	14
6 , 216	31
6 , 217	26
6 , 218	6
6 , 219	20
6 , 22	24
6 , 220	19
6 , 221	1
6 , 222	2
6 , 223	372
6 , 224	690
6 , 225	52
6 , 226	465
6 , 227	14
6 , 228	35
6 , 229	4094
6 , 23	1
6 , 230	6602
6 , 231	3614
6 , 232	236
6 , 233	3336
6 , 234	6179
6 , 235	23
6 , 236	8765
6 , 237	9938
6 , 238	4066
6 , 239	5613
6 , 24	592
6 , 240	1
6 , 241	26
6 , 242	52
6 , 243	187
6 , 244	805
6 , 246	3176
6 , 247	148
6 , 248	10
6 , 249	2693
6 , 25	519
6 , 250	35
6 , 252	6
6 , 253	1
6 , 254	14
6 , 255	201
6 , 256	95
6 , 257	22
6 , 258	7
6 , 259	7
6 , 26	27
6 , 260	362
6 , 261	1559
6 , 262	2925
6 , 263	3516
6 , 264	2521
6 , 265	83
6 , 27	1
6 , 28	37
6 , 29	15
6 , 3	16
6 , 31	9
6 , 32	11
6 , 33	676
6 , 34	24
6 , 35	19
6 , 36	8
6 , 37	23
6 , 38	1
6 , 39	16
6 , 4	352
6 , 40	185
6 , 41	1418
6 , 42	892
6 , 43	3963
6 , 45	554
6 , 47	19
6 , 48	5282
6 , 49	296
6 , 50	2220
6 , 51	12
6 , 52	278
6 , 53	8
6 , 54	10
6 , 55	122
6 , 56	38
6 , 57	1
6 , 58	1
6 , 6	2
6 , 60	11
6 , 61	190
6 , 62	38
6 , 63	4
6 , 65	586
6 , 66	435
6 , 67	2
6 , 68	4314
6 , 69	77
6 , 7	1163
6 , 70	56
6 , 71	22
6 , 72	15
6 , 73	2
6 , 74	1933
6 , 75	2616
6 , 76	33
6 , 77	13
6 , 78	25
6 , 79	3210
6 , 8	5
6 , 80	34
6 , 81	5
6 , 82	667
6 , 83	90
6 , 85	16
6 , 86	1
6 , 87	1738
6 , 88	1005
6 , 89	60
6 , 9	3
6 , 90	3446
6 , 91	21
6 , 92	143
6 , 93	42
6 , 94	10
6 , 95	356
6 , 96	1
6 , 97	531
6 , 98	6
7 , 1	20
7 , 10	52
7 , 100	6505
7 , 101	4
7 , 102	7
7 , 106	81
7 , 107	5640
7 , 108	25
7 , 11	5
7 , 112	202
7 , 113	4410
7 , 114	2101
7 , 116	570
7 , 119	26
7 , 12	245
7 , 120	5
7 , 121	70
7 , 122	8
7 , 123	31
7 , 124	1
7 , 125	1802
7 , 126	22
7 , 127	96
7 , 128	9
7 , 129	532
7 , 13	3015
7 , 130	303
7 , 131	9
7 , 132	5572
7 , 133	15
7 , 134	165
7 , 135	28
7 , 136	27
7 , 137	3477
7 , 138	10479
7 , 139	6
7 , 14	73
7 , 140	6521
7 , 141	6870
7 , 142	7667
7 , 143	3484
7 , 144	2086
7 , 145	681
7 , 146	336
7 , 147	19
7 , 148	1333
7 , 149	21
7 , 15	1
7 , 150	6
7 , 151	2554
7 , 152	415
7 , 153	17
7 , 154	3
7 , 155	23
7 , 156	2
7 , 157	11
7 , 158	2285
7 , 159	111
7 , 16	7
7 , 160	15
7 , 161	14495
7 , 162	11563
7 , 163	8831
7 , 164	7605
7 , 165	35
7 , 166	2164
7 , 167	46
7 , 168	120
7 , 169	40
7 , 17	197
7 , 170	11542
7 , 171	15
7 , 173	61
7 , 174	51
7 , 175	8
7 , 177	29
7 , 178	16
7 , 179	238
7 , 18	28
7 , 180	7
7 , 181	625
7 , 182	56
7 , 183	5
7 , 184	2
7 , 185	26
7 , 186	10961
7 , 188	113
7 , 189	82
7 , 19	4
7 , 190	21
7 , 191	11
7 , 192	45
7 , 193	237
7 , 194	15
7 , 195	23
7 , 196	257
7 , 197	31
7 , 198	13
7 , 2	1
7 , 20	19
7 , 200	8
7 , 202	12
7 , 203	5
7 , 205	3
7 , 206	3
7 , 207	34
7 , 208	15
7 , 209	498
7 , 21	21
7 , 210	93
7 , 211	2082
7 , 212	30
7 , 213	37
7 , 215	22
7 , 216	40
7 , 217	25
7 , 218	10
7 , 219	14
7 , 22	29
7 , 220	49
7 , 221	1
7 , 222	5
7 , 223	480
7 , 224	1005
7 , 225	72
7 , 226	531
7 , 227	19
7 , 228	61
7 , 229	5743
7 , 230	8946
7 , 231	4843
7 , 232	343
7 , 233	4478
7 , 234	9114
7 , 235	33
7 , 236	12927
7 , 237	14800
7 , 238	5326
7 , 239	7449
7 , 24	805
7 , 240	4
7 , 241	22
7 , 242	70
7 , 243	195
7 , 244	1100
7 , 246	4620
7 , 247	162
7 , 248	13
7 , 249	3577
7 , 25	688
7 , 250	22
7 , 251	1
7 , 252	11
7 , 253	3
7 , 254	13
7 , 255	253
7 , 256	124
7 , 257	20
7 , 258	5
7 , 259	4
7 , 26	40
7 , 260	458
7 , 261	2060
7 , 262	4110
7 , 263	4716
7 , 264	3272
7 , 265	98
7 , 28	40
7 , 29	37
7 , 3	18
7 , 31	9
7 , 32	11
7 , 33	940
7 , 34	18
7 , 35	35
7 , 36	16
7 , 37	49
7 , 38	2
7 , 39	35
7 , 4	499
7 , 40	238
7 , 41	2088
7 , 42	1186
7 , 43	5433
7 , 45	711
7 , 47	23
7 , 48	7159
7 , 49	368
7 , 50	2773
7 , 51	14
7 , 52	368
7 , 53	13
7 , 54	20
7 , 55	62
7 , 56	40
7 , 57	4
7 , 58	1
7 , 59	2
7 , 6	2
7 , 60	15
7 , 61	233
7 , 62	49
7 , 63	7
7 , 64	3
7 , 65	778
7 , 66	536
7 , 67	11
7 , 68	6097
7 , 69	112
7 , 7	1217
7 , 70	70
7 , 71	44
7 , 72	25
7 , 73	5
7 , 74	2514
7 , 75	3761
7 , 76	49
7 , 77	17
7 , 78	20
7 , 79	4144
7 , 8	6
7 , 80	42
7 , 81	9
7 , 82	776
7 , 83	134
7 , 85	27
7 , 87	2158
7 , 88	1299
7 , 89	77
7 , 9	1
7 , 90	4939
7 , 91	44
7 , 92	199
7 , 93	69
7 , 94	17
7 , 95	562
7 , 97	669
7 , 98	5
8 , 1	11
8 , 10	40
8 , 100	4921
8 , 101	1
8 , 102	10
8 , 106	54
8 , 107	4526
8 , 108	18
8 , 11	5
8 , 112	126
8 , 113	3631
8 , 114	1882
8 , 116	424
8 , 119	10
8 , 12	164
8 , 120	2
8 , 121	54
8 , 122	6
8 , 123	32
8 , 124	4
8 , 125	1709
8 , 126	18
8 , 127	55
8 , 128	9
8 , 129	441
8 , 13	2512
8 , 130	231
8 , 131	11
8 , 132	4593
8 , 133	17
8 , 134	165
8 , 135	32
8 , 136	21
8 , 137	2577
8 , 138	9278
8 , 139	6
8 , 14	57
8 , 140	5488
8 , 141	5361
8 , 142	6564
8 , 143	3012
8 , 144	1694
8 , 145	523
8 , 146	253
8 , 147	12
8 , 148	1088
8 , 149	21
8 , 15	1
8 , 150	3
8 , 151	2180
8 , 152	319
8 , 153	11
8 , 154	2
8 , 155	18
8 , 156	1
8 , 157	26
8 , 158	1957
8 , 159	86
8 , 16	5
8 , 160	14
8 , 161	10070
8 , 162	8085
8 , 163	6388
8 , 164	6010
8 , 165	35
8 , 166	2043
8 , 167	27
8 , 168	100
8 , 169	29
8 , 17	155
8 , 170	8246
8 , 171	7
8 , 173	44
8 , 174	48
8 , 175	3
8 , 177	30
8 , 178	14
8 , 179	186
8 , 18	40
8 , 180	8
8 , 181	547
8 , 182	33
8 , 183	5
8 , 184	3
8 , 185	32
8 , 186	8893
8 , 188	90
8 , 189	74
8 , 19	6
8 , 190	28
8 , 191	6
8 , 192	29
8 , 193	208
8 , 194	6
8 , 195	21
8 , 196	234
8 , 197	24
8 , 198	12
8 , 20	22
8 , 200	9
8 , 202	10
8 , 203	4
8 , 205	4
8 , 207	34
8 , 208	15
8 , 209	425
8 , 21	18
8 , 210	73
8 , 211	1838
8 , 212	25
8 , 213	38
8 , 215	28
8 , 216	25
8 , 217	42
8 , 218	3
8 , 219	13
8 , 22	21
8 , 220	27
8 , 222	13
8 , 223	377
8 , 224	699
8 , 225	61
8 , 226	437
8 , 227	15
8 , 228	50
8 , 229	4154
8 , 23	1
8 , 230	6525
8 , 231	4325
8 , 232	272
8 , 233	2833
8 , 234	7368
8 , 235	16
8 , 236	11565
8 , 237	12254
8 , 238	4811
8 , 239	6620
8 , 24	699
8 , 240	2
8 , 241	21
8 , 242	72
8 , 243	161
8 , 244	822
8 , 246	3561
8 , 247	133
8 , 248	13
8 , 249	3089
8 , 25	566
8 , 250	28
8 , 252	4
8 , 254	12
8 , 255	184
8 , 256	107
8 , 257	16
8 , 258	6
8 , 259	11
8 , 26	39
8 , 260	369
8 , 261	1540
8 , 262	3363
8 , 263	3987
8 , 264	2984
8 , 265	115
8 , 28	43
8 , 29	27
8 , 3	11
8 , 31	8
8 , 32	13
8 , 33	827
8 , 34	12
8 , 35	37
8 , 36	7
8 , 37	32
8 , 39	36
8 , 4	349
8 , 40	205
8 , 41	1565
8 , 42	904
8 , 43	4350
8 , 45	622
8 , 47	28
8 , 48	5717
8 , 49	289
8 , 50	2275
8 , 51	24
8 , 52	321
8 , 53	8
8 , 54	7
8 , 55	55
8 , 56	39
8 , 57	4
8 , 59	1
8 , 60	15
8 , 61	225
8 , 62	40
8 , 63	17
8 , 65	660
8 , 66	420
8 , 67	10
8 , 68	5049
8 , 69	80
8 , 7	948
8 , 70	45
8 , 71	36
8 , 72	22
8 , 73	7
8 , 74	1981
8 , 75	3004
8 , 76	44
8 , 77	11
8 , 78	29
8 , 79	3346
8 , 8	2
8 , 80	41
8 , 81	4
8 , 82	599
8 , 83	112
8 , 85	28
8 , 86	1
8 , 87	1690
8 , 88	919
8 , 89	58
8 , 9	2
8 , 90	3854
8 , 91	43
8 , 92	147
8 , 93	52
8 , 94	9
8 , 95	489
8 , 96	2
8 , 97	528
8 , 98	15
9 , 1	14
9 , 10	61
9 , 100	6480
9 , 101	7
9 , 102	14
9 , 105	3
9 , 106	85
9 , 107	5798
9 , 108	21
9 , 11	13
9 , 111	2
9 , 112	181
9 , 113	4698
9 , 114	2371
9 , 116	568
9 , 117	2
9 , 119	42
9 , 12	239
9 , 120	5
9 , 121	86
9 , 122	8
9 , 123	46
9 , 124	6
9 , 125	1930
9 , 126	29
9 , 127	95
9 , 128	5
9 , 129	560
9 , 13	3228
9 , 130	282
9 , 131	15
9 , 132	5205
9 , 133	27
9 , 134	208
9 , 135	32
9 , 136	19
9 , 137	3518
9 , 138	10623
9 , 139	4
9 , 14	98
9 , 140	6962
9 , 141	7203
9 , 142	8720
9 , 143	3860
9 , 144	2256
9 , 145	672
9 , 146	358
9 , 147	12
9 , 148	1335
9 , 149	47
9 , 15	5
9 , 150	9
9 , 151	2614
9 , 152	404
9 , 153	17
9 , 154	3
9 , 155	42
9 , 156	1
9 , 157	17
9 , 158	2307
9 , 159	94
9 , 16	10
9 , 160	17
9 , 161	15330
9 , 162	11774
9 , 163	9682
9 , 164	7915
9 , 165	53
9 , 166	2766
9 , 167	30
9 , 168	115
9 , 169	51
9 , 17	231
9 , 170	11003
9 , 171	7
9 , 172	1
9 , 173	49
9 , 174	75
9 , 175	3
9 , 177	46
9 , 178	26
9 , 179	280
9 , 18	49
9 , 180	11
9 , 181	702
9 , 182	23
9 , 183	12
9 , 184	3
9 , 185	39
9 , 186	10852
9 , 188	131
9 , 189	76
9 , 19	5
9 , 190	23
9 , 191	13
9 , 192	44
9 , 193	228
9 , 194	20
9 , 195	21
9 , 196	239
9 , 197	27
9 , 198	9
9 , 20	27
9 , 200	8
9 , 202	17
9 , 203	7
9 , 205	15
9 , 206	3
9 , 207	44
9 , 208	16
9 , 209	517
9 , 21	23
9 , 210	88
9 , 211	2215
9 , 212	34
9 , 213	70
9 , 215	38
9 , 216	38
9 , 217	39
9 , 218	10
9 , 219	16
9 , 22	25
9 , 220	42
9 , 222	14
9 , 223	493
9 , 224	924
9 , 225	99
9 , 226	636
9 , 227	28
9 , 228	63
9 , 229	6114
9 , 23	3
9 , 230	8741
9 , 231	5420
9 , 232	361
9 , 233	4451
9 , 234	9656
9 , 235	25
9 , 236	15172
9 , 237	17063
9 , 238	6397
9 , 239	8273
9 , 24	947
9 , 240	3
9 , 241	31
9 , 242	123
9 , 243	224
9 , 244	1107
9 , 245	1
9 , 246	3899
9 , 247	136
9 , 248	15
9 , 249	3788
9 , 25	695
9 , 250	49
9 , 252	7
9 , 254	25
9 , 255	201
9 , 256	129
9 , 257	17
9 , 258	7
9 , 259	15
9 , 26	67
9 , 260	463
9 , 261	1970
9 , 262	4520
9 , 263	5074
9 , 264	4159
9 , 265	132
9 , 28	44
9 , 29	47
9 , 3	21
9 , 31	9
9 , 32	15
9 , 33	1052
9 , 34	30
9 , 35	42
9 , 36	14
9 , 37	51
9 , 38	6
9 , 39	40
9 , 4	447
9 , 40	248
9 , 41	2037
9 , 42	1076
9 , 43	5829
9 , 45	776
9 , 47	26
9 , 48	6968
9 , 49	368
9 , 50	2974
9 , 51	22
9 , 52	412
9 , 53	18
9 , 54	12
9 , 55	65
9 , 56	74
9 , 57	5
9 , 58	2
9 , 59	2
9 , 6	1
9 , 60	16
9 , 61	289
9 , 62	80
9 , 63	15
9 , 64	9
9 , 65	899
9 , 66	582
9 , 67	10
9 , 68	6146
9 , 69	84
9 , 7	1415
9 , 70	73
9 , 71	45
9 , 72	42
9 , 73	4
9 , 74	2430
9 , 75	3902
9 , 76	63
9 , 77	19
9 , 78	33
9 , 79	4297
9 , 8	2
9 , 80	42
9 , 81	15
9 , 82	839
9 , 83	124
9 , 85	31
9 , 86	1
9 , 87	2237
9 , 88	1317
9 , 89	87
9 , 9	4
9 , 90	4790
9 , 91	59
9 , 92	168
9 , 93	35
9 , 94	15
9 , 95	622
9 , 96	2
9 , 97	701
9 , 98	7
</code>
</pre>
</div>
</div>
</div>
</div>
</div>