<div class="row">
    <div class="col-lg">
        <h2>
            Resultados RF2
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#rf2_collapse" aria-expanded="false" aria-controls="rf2_collapse">
                +
            </button>
        </h2>
        
        <div class="collapse" id="rf2_collapse">
            <div class="card card-body">
                <div>
                    <pre>
                        <code>
green , 0 , 0	min : -485.0 , max : 786.5 , promedio : 11 , n_viajes : 800626
green , 0 , 1	min : -492.8 , max : 2126.0 , promedio : 11 , n_viajes : 666062
green , 0 , 2	min : -400.0 , max : 999.99 , promedio : 11 , n_viajes : 684928
green , 0 , 3	min : -300.0 , max : 936.0 , promedio : 11 , n_viajes : 737366
green , 0 , 4	min : -350.0 , max : 800.0 , promedio : 11 , n_viajes : 794009
green , 0 , 5	min : -175.0 , max : 2924.5 , promedio : 11 , n_viajes : 982554
green , 0 , 6	min : -250.0 , max : 1434.5 , promedio : 11 , n_viajes : 955974
green , 1 , 0	min : -250.0 , max : 750.0 , promedio : 11 , n_viajes : 854276
green , 1 , 1	min : -202.5 , max : 2624.5 , promedio : 11 , n_viajes : 739010
green , 1 , 2	min : -400.0 , max : 4543.0 , promedio : 11 , n_viajes : 718852
green , 1 , 3	min : -295.0 , max : 801.0 , promedio : 11 , n_viajes : 758913
green , 1 , 4	min : -400.0 , max : 1325.0 , promedio : 11 , n_viajes : 803395
green , 1 , 5	min : -250.0 , max : 1209.0 , promedio : 11 , n_viajes : 968310
green , 1 , 6	min : -400.0 , max : 597.0 , promedio : 11 , n_viajes : 1041113
green , 10 , 0	min : -300.0 , max : 950.0 , promedio : 12 , n_viajes : 860329
green , 10 , 1	min : -499.0 , max : 887.0 , promedio : 11 , n_viajes : 652771
green , 10 , 2	min : -200.0 , max : 629.5 , promedio : 11 , n_viajes : 673900
green , 10 , 3	min : -499.0 , max : 904.5 , promedio : 11 , n_viajes : 752785
green , 10 , 4	min : -250.0 , max : 5048.5 , promedio : 11 , n_viajes : 757011
green , 10 , 5	min : -499.0 , max : 2045.0 , promedio : 11 , n_viajes : 804535
green , 10 , 6	min : -499.0 , max : 6003.5 , promedio : 12 , n_viajes : 980224
green , 11 , 0	min : -499.0 , max : 600.0 , promedio : 11 , n_viajes : 814451
green , 11 , 1	min : -450.0 , max : 9999.99 , promedio : 11 , n_viajes : 702856
green , 11 , 2	min : -480.0 , max : 2794.5 , promedio : 11 , n_viajes : 803151
green , 11 , 3	min : -499.0 , max : 874.5 , promedio : 11 , n_viajes : 841576
green , 11 , 4	min : -495.0 , max : 2729.0 , promedio : 11 , n_viajes : 877880
green , 11 , 5	min : -499.0 , max : 859.5 , promedio : 11 , n_viajes : 944118
green , 11 , 6	min : -200.0 , max : 1281.5 , promedio : 11 , n_viajes : 1003011
green , 2 , 0	min : -495.0 , max : 868.0 , promedio : 12 , n_viajes : 972510
green , 2 , 1	min : -480.0 , max : 2013.5 , promedio : 11 , n_viajes : 800351
green , 2 , 2	min : -400.0 , max : 1234.5 , promedio : 11 , n_viajes : 814602
green , 2 , 3	min : -200.0 , max : 965.0 , promedio : 11 , n_viajes : 849167
green , 2 , 4	min : -450.0 , max : 713.5 , promedio : 11 , n_viajes : 947832
green , 2 , 5	min : -300.0 , max : 1941.0 , promedio : 11 , n_viajes : 1038544
green , 2 , 6	min : -400.0 , max : 601.0 , promedio : 11 , n_viajes : 1165035
green , 3 , 0	min : -330.0 , max : 1937.5 , promedio : 12 , n_viajes : 967203
green , 3 , 1	min : -499.0 , max : 1955.5 , promedio : 11 , n_viajes : 722407
green , 3 , 2	min : -330.0 , max : 677.0 , promedio : 11 , n_viajes : 771178
green , 3 , 3	min : -150.0 , max : 10445.84 , promedio : 11 , n_viajes : 866856
green , 3 , 4	min : -380.0 , max : 3351.0 , promedio : 12 , n_viajes : 879227
green , 3 , 5	min : -351.0 , max : 3050.5 , promedio : 12 , n_viajes : 1003477
green , 3 , 6	min : -360.0 , max : 3005.0 , promedio : 12 , n_viajes : 1189017
green , 4 , 0	min : -444.44 , max : 785.5 , promedio : 12 , n_viajes : 1014769
green , 4 , 1	min : -345.0 , max : 8010.5 , promedio : 12 , n_viajes : 756587
green , 4 , 2	min : -343.33 , max : 3498.5 , promedio : 12 , n_viajes : 817537
green , 4 , 3	min : -350.0 , max : 2126.69 , promedio : 12 , n_viajes : 828348
green , 4 , 4	min : -160.0 , max : 2060.5 , promedio : 12 , n_viajes : 903547
green , 4 , 5	min : -400.0 , max : 1977.5 , promedio : 12 , n_viajes : 1073350
green , 4 , 6	min : -250.08 , max : 900.0 , promedio : 12 , n_viajes : 1207938
green , 5 , 0	min : -180.0 , max : 1659.0 , promedio : 12 , n_viajes : 910928
green , 5 , 1	min : -457.8 , max : 2703.0 , promedio : 12 , n_viajes : 766391
green , 5 , 2	min : -350.0 , max : 3427.5 , promedio : 12 , n_viajes : 748282
green , 5 , 3	min : -400.0 , max : 3347.5 , promedio : 12 , n_viajes : 787173
green , 5 , 4	min : -499.0 , max : 1008.5 , promedio : 12 , n_viajes : 866430
green , 5 , 5	min : -360.0 , max : 2111.5 , promedio : 12 , n_viajes : 963253
green , 5 , 6	min : -350.0 , max : 1229.0 , promedio : 12 , n_viajes : 1054691
green , 6 , 0	min : -400.0 , max : 980.0 , promedio : 12 , n_viajes : 774685
green , 6 , 1	min : -320.0 , max : 2113.0 , promedio : 11 , n_viajes : 570838
green , 6 , 2	min : -475.0 , max : 623.0 , promedio : 11 , n_viajes : 593167
green , 6 , 3	min : -300.0 , max : 614.0 , promedio : 12 , n_viajes : 677053
green , 6 , 4	min : -400.0 , max : 2763.0 , promedio : 12 , n_viajes : 733160
green , 6 , 5	min : -400.0 , max : 1200.5 , promedio : 12 , n_viajes : 814477
green , 6 , 6	min : -350.0 , max : 650.0 , promedio : 12 , n_viajes : 899612
green , 7 , 0	min : -250.0 , max : 525.0 , promedio : 12 , n_viajes : 802290
green , 7 , 1	min : -300.0 , max : 2047.0 , promedio : 11 , n_viajes : 599612
green , 7 , 2	min : -190.0 , max : 1646.5 , promedio : 11 , n_viajes : 599796
green , 7 , 3	min : -450.0 , max : 1421.5 , promedio : 12 , n_viajes : 635930
green , 7 , 4	min : -250.0 , max : 3259.5 , promedio : 12 , n_viajes : 650032
green , 7 , 5	min : -200.0 , max : 3569.0 , promedio : 12 , n_viajes : 765749
green , 7 , 6	min : -485.0 , max : 1359.0 , promedio : 12 , n_viajes : 946530
green , 8 , 0	min : -475.0 , max : 818.0 , promedio : 12 , n_viajes : 706792
green , 8 , 1	min : -450.0 , max : 2008.0 , promedio : 12 , n_viajes : 579606
green , 8 , 2	min : -400.0 , max : 2667.5 , promedio : 12 , n_viajes : 644303
green , 8 , 3	min : -300.0 , max : 3361.0 , promedio : 12 , n_viajes : 644819
green , 8 , 4	min : -400.0 , max : 2875.5 , promedio : 12 , n_viajes : 680446
green , 8 , 5	min : -250.0 , max : 1912.5 , promedio : 12 , n_viajes : 813593
green , 8 , 6	min : -450.0 , max : 626.0 , promedio : 12 , n_viajes : 881874
green , 9 , 0	min : -435.0 , max : 985.0 , promedio : 12 , n_viajes : 817705
green , 9 , 1	min : -400.09 , max : 5005.5 , promedio : 11 , n_viajes : 617007
green , 9 , 2	min : -200.0 , max : 1369.5 , promedio : 11 , n_viajes : 618790
green , 9 , 3	min : -450.0 , max : 853.1 , promedio : 11 , n_viajes : 685015
green , 9 , 4	min : -250.0 , max : 1252.5 , promedio : 12 , n_viajes : 797222
green , 9 , 5	min : -450.0 , max : 999.99 , promedio : 12 , n_viajes : 928179
green , 9 , 6	min : -300.0 , max : 600.02 , promedio : 12 , n_viajes : 1006186
yellow , 0 , 0	min : -450.0 , max : 538579.2 , promedio : 10 , n_viajes : 17174573
yellow , 0 , 1	min : -200.0 , max : 5000.0 , promedio : 10 , n_viajes : 15939132
yellow , 0 , 2	min : -434.0 , max : 5724.5 , promedio : 10 , n_viajes : 17463362
yellow , 0 , 3	min : -169.0 , max : 8037.5 , promedio : 10 , n_viajes : 17923394
yellow , 0 , 4	min : -957.6 , max : 625900.8 , promedio : 10 , n_viajes : 19100917
yellow , 0 , 5	min : -405.0 , max : 3005.5 , promedio : 10 , n_viajes : 20448013
yellow , 0 , 6	min : -450.0 , max : 111270.85 , promedio : 10 , n_viajes : 20026509
yellow , 1 , 0	min : -400.0 , max : 7020.0 , promedio : 10 , n_viajes : 16399214
yellow , 1 , 1	min : -489.0 , max : 361770.22 , promedio : 10 , n_viajes : 15741076
yellow , 1 , 2	min : -445.55 , max : 154810.43 , promedio : 10 , n_viajes : 16849495
yellow , 1 , 3	min : -132.0 , max : 335544.41 , promedio : 10 , n_viajes : 17585165
yellow , 1 , 4	min : -496.0 , max : 8014.5 , promedio : 10 , n_viajes : 17939429
yellow , 1 , 5	min : -450.0 , max : 322695.6 , promedio : 10 , n_viajes : 18802094
yellow , 1 , 6	min : -246.5 , max : 9316.63 , promedio : 10 , n_viajes : 18942097
yellow , 10 , 0	min : -499.0 , max : 168430.09 , promedio : 11 , n_viajes : 15900356
yellow , 10 , 1	min : -400.0 , max : 4007.0 , promedio : 11 , n_viajes : 15537298
yellow , 10 , 2	min : -150.0 , max : 393221.5 , promedio : 11 , n_viajes : 16522663
yellow , 10 , 3	min : -480.0 , max : 93977.3 , promedio : 11 , n_viajes : 16765095
yellow , 10 , 4	min : -456.5 , max : 200546.71 , promedio : 11 , n_viajes : 15679269
yellow , 10 , 5	min : -300.0 , max : 12749.0 , promedio : 11 , n_viajes : 16733193
yellow , 10 , 6	min : -200.0 , max : 800.0 , promedio : 11 , n_viajes : 17657940
yellow , 11 , 0	min : -300.0 , max : 825998.61 , promedio : 11 , n_viajes : 14941057
yellow , 11 , 1	min : -300.0 , max : 1597.06 , promedio : 11 , n_viajes : 14853934
yellow , 11 , 2	min : -431.5 , max : 3006.8 , promedio : 11 , n_viajes : 16400473
yellow , 11 , 3	min : -200.0 , max : 12469.56 , promedio : 11 , n_viajes : 16924110
yellow , 11 , 4	min : -240.0 , max : 391911.78 , promedio : 11 , n_viajes : 17861217
yellow , 11 , 5	min : -450.0 , max : 23618.96 , promedio : 11 , n_viajes : 17838954
yellow , 11 , 6	min : -450.0 , max : 3029.0 , promedio : 11 , n_viajes : 17609286
yellow , 2 , 0	min : -2684344.8 , max : 503325.53 , promedio : 11 , n_viajes : 18070121
yellow , 2 , 1	min : -612.42 , max : 8005.5 , promedio : 11 , n_viajes : 17279180
yellow , 2 , 2	min : -612.92 , max : 171861.78 , promedio : 10 , n_viajes : 18884800
yellow , 2 , 3	min : -315.03 , max : 200005.5 , promedio : 10 , n_viajes : 19076541
yellow , 2 , 4	min : -220.0 , max : 429496.72 , promedio : 11 , n_viajes : 20406908
yellow , 2 , 5	min : -300.0 , max : 214748.44 , promedio : 11 , n_viajes : 20931668
yellow , 2 , 6	min : -2.1474808E7 , max : 150996.44 , promedio : 9 , n_viajes : 21294110
yellow , 3 , 0	min : -368.0 , max : 349026.72 , promedio : 11 , n_viajes : 17414146
yellow , 3 , 1	min : -325.0 , max : 210523.47 , promedio : 11 , n_viajes : 17182714
yellow , 3 , 2	min : -300.0 , max : 3013.5 , promedio : 10 , n_viajes : 18522516
yellow , 3 , 3	min : -452.0 , max : 3030.49 , promedio : 11 , n_viajes : 19481572
yellow , 3 , 4	min : -260.0 , max : 20973.46 , promedio : 11 , n_viajes : 20245848
yellow , 3 , 5	min : -215.0 , max : 8009.5 , promedio : 11 , n_viajes : 20624355
yellow , 3 , 6	min : -390.0 , max : 538481.03 , promedio : 10 , n_viajes : 20242351
yellow , 4 , 0	min : -490.0 , max : 75747.02 , promedio : 11 , n_viajes : 17999674
yellow , 4 , 1	min : -275.0 , max : 3005.5 , promedio : 11 , n_viajes : 16970003
yellow , 4 , 2	min : -317.0 , max : 8007.0 , promedio : 11 , n_viajes : 19449687
yellow , 4 , 3	min : -455.0 , max : 861604.49 , promedio : 11 , n_viajes : 19790216
yellow , 4 , 4	min : -290.0 , max : 234631.88 , promedio : 11 , n_viajes : 20473012
yellow , 4 , 5	min : -350.0 , max : 9999.99 , promedio : 11 , n_viajes : 20837251
yellow , 4 , 6	min : -485.0 , max : 7800.0 , promedio : 11 , n_viajes : 20260640
yellow , 5 , 0	min : -300.0 , max : 8018.8 , promedio : 11 , n_viajes : 16148217
yellow , 5 , 1	min : -285.0 , max : 37358.52 , promedio : 11 , n_viajes : 17115120
yellow , 5 , 2	min : -300.0 , max : 630461.82 , promedio : 11 , n_viajes : 18465969
yellow , 5 , 3	min : -450.0 , max : 218316.3 , promedio : 11 , n_viajes : 19224306
yellow , 5 , 4	min : -550.0 , max : 628544.74 , promedio : 11 , n_viajes : 19613124
yellow , 5 , 5	min : -300.0 , max : 335413.69 , promedio : 11 , n_viajes : 19652660
yellow , 5 , 6	min : -400.0 , max : 152437.08 , promedio : 10 , n_viajes : 19013584
yellow , 6 , 0	min : -300.0 , max : 505296.77 , promedio : 11 , n_viajes : 14524379
yellow , 6 , 1	min : -400.0 , max : 6666.65 , promedio : 11 , n_viajes : 14698663
yellow , 6 , 2	min : -228.0 , max : 93952.4 , promedio : 10 , n_viajes : 16435048
yellow , 6 , 3	min : -220.0 , max : 4136.51 , promedio : 11 , n_viajes : 17374285
yellow , 6 , 4	min : -450.0 , max : 186131.24 , promedio : 11 , n_viajes : 17816555
yellow , 6 , 5	min : -400.0 , max : 153270.55 , promedio : 11 , n_viajes : 17918660
yellow , 6 , 6	min : -420.0 , max : 1064.5 , promedio : 10 , n_viajes : 16012608
yellow , 7 , 0	min : -642.92 , max : 187444.96 , promedio : 11 , n_viajes : 13174303
yellow , 7 , 1	min : -400.0 , max : 158995.81 , promedio : 11 , n_viajes : 14741455
yellow , 7 , 2	min : -1430.0 , max : 133087.55 , promedio : 10 , n_viajes : 15728658
yellow , 7 , 3	min : -450.0 , max : 307023.19 , promedio : 11 , n_viajes : 16425306
yellow , 7 , 4	min : -648.42 , max : 408486.18 , promedio : 11 , n_viajes : 16475846
yellow , 7 , 5	min : -650.0 , max : 7000.5 , promedio : 11 , n_viajes : 16579162
yellow , 7 , 6	min : -651.92 , max : 398465.38 , promedio : 11 , n_viajes : 15514932
yellow , 8 , 0	min : -499.0 , max : 8004.5 , promedio : 11 , n_viajes : 15799904
yellow , 8 , 1	min : -200.0 , max : 410266.86 , promedio : 11 , n_viajes : 14312147
yellow , 8 , 2	min : -210.0 , max : 124518.47 , promedio : 11 , n_viajes : 16318793
yellow , 8 , 3	min : -300.0 , max : 647561.71 , promedio : 11 , n_viajes : 17169833
yellow , 8 , 4	min : -329.0 , max : 398473.88 , promedio : 11 , n_viajes : 17582484
yellow , 8 , 5	min : -250.0 , max : 631120.68 , promedio : 11 , n_viajes : 17824402
yellow , 8 , 6	min : -250.0 , max : 325478.79 , promedio : 11 , n_viajes : 17459525
yellow , 9 , 0	min : -400.0 , max : 861602.44 , promedio : 11 , n_viajes : 16369495
yellow , 9 , 1	min : -400.0 , max : 136867.28 , promedio : 11 , n_viajes : 15275884
yellow , 9 , 2	min : -450.0 , max : 404093.97 , promedio : 11 , n_viajes : 16269154
yellow , 9 , 3	min : -460.0 , max : 950.0 , promedio : 11 , n_viajes : 17250165
yellow , 9 , 4	min : -300.0 , max : 8010.0 , promedio : 11 , n_viajes : 18562577
yellow , 9 , 5	min : -150.0 , max : 379170.94 , promedio : 11 , n_viajes : 18922366
yellow , 9 , 6	min : -400.0 , max : 187443.46 , promedio : 11 , n_viajes : 19560495                        
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>