<% include partials/head %>
<script src="/javascripts/ra2.js"></script>
<div class="row">
  <div class="col-lg">
      <h1 class="mt-5">RA - 2</h1>
      <p>
        Realice un análisis de oferta y demanda en temporadas. Determine si hay estacionalidad en oferta y demanda por tipo de servicio.
      </p>
  </div>
</div>

<div class="row">
  <div class="col-lg">
      <h2>Temporada del <%= fi %> al <%= ff %></h2>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <h2>Resultados</h2>
    <input type="hidden" value="<%= id %>" id="ra2_id" />
    <div id="respuesta">
      <canvas id="myChart"></canvas>
      <pre>
        <code id="ra2_body">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Recuperando la respuesta
        </code>
      </pre>
    </div>
  </div>
</div>

<% include partials/hadoop-job %>
<% include partials/footer %>