<% include partials/head %>
<script src="/javascripts/ra2.js"></script>
<div class="row">
  <div class="col-lg">
      <h1 class="mt-5">RA - 2</h1>
      <p>
        Realice un análisis de oferta y demanda en temporadas. Determine si hay estacionalidad en oferta y demanda por tipo de servicio.
      </p>
  </div>
</div>

<div class="row">
  <div class="col-lg">
      <h2>Temporada del <%= fi %> al <%= ff %></h2>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <h2>Resultados</h2>
    <input type="hidden" value="<%= id %>" id="ra2_id" />
    <div id="respuesta">
      <pre>
        <code id="ra2_body">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Recuperando la respuesta
        </code>
      </pre>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <canvas id="myChart"></canvas>
    <script>
      var ctx = document.getElementById('myChart').getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ['1', '2', '3', '4', '5', '6'],
              datasets: [{
                  label: 'Yellow',
                  data: [12, 19, 3, 5, 2, 3],
                  backgroundColor: "rgba(225,0,0,0.0)",
                  borderColor: "yellow"
              },
              {
                  label: 'Green',
                  data: [1, 23, 13, 51, 2, 13],
                  backgroundColor: "rgba(0,255,0,0.0)",
                  borderColor: "green"
              },
              {
                  label: 'Blue',
                  data: [13, 8, 22, 19, 21, 10],
                  backgroundColor: "rgba(0,0,255,0.0)",
                  borderColor: "blue"
              }]
          },
          options: {
            scales: {
                yAxes: [{
                  ticks: {
                      beginAtZero:true
                  },
                  scaleLabel: {
                    display: true,
                    labelString: 'Demanda',
                    fontSize: 20 
                  }
                }]            
            }  
          }
      });
    </script>
  </div>
</div>

<% include partials/hadoop-job %>
<% include partials/footer %>