<% include partials/head %>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Dataset anotado</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>
        Visualizar los resultados de ana패lisis de polaridad comparados con los encontrados en el dataset entregado. El sitio Web debe incluir expli패citamente la citacio패n de la fuente del dataset, tal como esta패 especificado en la fuente.
    </p>
    <div>
      <img src="/img/comparacion.jpeg" />
    </div>
    <h4>Fuentes empleadas</h4>
    <p>
      <b>Ups and downs: Modeling the visual evolution of fashion trends with one-class collaborative filtering</b><br>
      R. He, J. McAuley<br>
      <em>WWW</em>, 2016<br>
      <a href="http://cseweb.ucsd.edu/~jmcauley/pdfs/www16a.pdf">pdf</a>
    </p>
    <p>
      <b>Image-based recommendations on styles and substitutes</b><br>
      J. McAuley, C. Targett, J. Shi, A. van den Hengel<br>
      <em>SIGIR</em>, 2015<br>
      <a href="http://cseweb.ucsd.edu/~jmcauley/pdfs/sigir15.pdf">pdf</a>
    </p>
  </div>
</div>

<% include partials/footer %>