<% include partials/head %>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Bono</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>
      En UNA pa패gina de visualizacio패n muestre un mapa de los tuits geocodificados (sitio y cantidad de tuits), un tagCloud con los hashtags ma패s frecuentes y una visualizacio패n de la polaridad que permita ver el contenido de los tuits relacionados.
    </p>
    <div id="colombia"></div>
    <svg></svg>
  </div>

</div>
<script src="/javascripts/t2-bono.js"></script>
<% include partials/footer %>