<% include partials/head %>
<script src="/javascripts/t2-personajes.js"></script>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Menciones</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>
      Visualizar la información básica de personajes o sitios geográficos mencionados. Debe poder relacionar dichas entidades por algún criterio encontrado en su información de base. Por ejemplo, todos los personajes mencionados que nacen en cierto rango de fechas, sitios que son geográficamente cercanos, etc.
    </p>
    <span></span>
  </div>

</div>

<% include partials/footer %>