<% include partials/head %>
<script src="/javascripts/t2-heatmap.js"></script>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Relaciones Usuarios – Temas – Actividad</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>
      Elabore una visualización que le permita ilustrar las relaciones Usuarios – Temas – Actividad en la red social, para aquello que monitorea.
    </p>
    <div id="visualization"></div>
    <div class="heatmap"></div>
  </div>

</div>

<% include partials/footer %>