<% include partials/head %>
<script src="/javascripts/cloud.js"></script>
<script src="/javascripts/t2-tagcloud.js"></script>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Wordcloud</h1>
    </div>
</div>
<div class="row">
  <div class="col-lg">
    <p>
      Visualizar los resultados del ana패lisis de coyuntura. En UNA pa패gina de visualizacio패n muestre un tagCloud con los hashtags ma패s frecuentes, visualizar la polaridad de los tuits relacionados y su contenido.
    </p>
    <div id="chart"></div>
  </div>
</div>

<% include partials/footer %>