<% include partials/head %>
<script src="/javascripts/t3-preguntas.js"></script>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">1</h1>
    </div>
</div>

<div class="row">
  <div class="col-lg">
    <p>
      Visualizar las preguntas obtenidas de la fuente indicada, con toda su información enriquecida.
    </p>
  </div>
  <div class="col-lg">
    <h3>
      Ubicar geográficamente cada lugar encontrado con su caracterización: coordenadas, sitio, ciudad, departamento, país.
    </h3>
  </div>
  <div class="col-lg">
    <h3>
      Para cada persona identificada, de ser posible encuentre su ubicación, fecha y lugar de nacimiento, género musical en el cual se destaca. Identifique su grupo familiar y las otras personas con las que se relaciona.
    </h3>
    <div>

    </div>
  </div>
  <div class="col-lg">
    <h3>
      Relacione las entidades de las cuales se habla en la red social con otras entidades públicas, posiblemente no relacionadas con el dominio de aplicación. Por ejemplo, un cantante se relaciona con personajes políticos o noticias de relevancia y actualidad.
    </h3>
  </div>
  <div class="col-lg">
    <h3>
      Relacione contenido multimedia con el contenido de que trata la pregunta. Por ejemplo, si encuentra canciones, debe enlazar con el contenido en Spotify y describir según los metadatos completos que provee esa fuente.
    </h3>
  </div>
</div>


<% include partials/footer %>