<% include partials/head %>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Taller 2</h1>
    </div>
</div>
<div class="row">
  <div class="col-md">
    <h2>Personajes</h2>
    <p>
      Visualizar la información básica de personajes o sitios geográficos mencionados. Debe poder relacionar dichas entidades por algún criterio encontrado en su información de base. Por ejemplo, todos los personajes mencionados que nacen en cierto rango de fechas, sitios que son geográficamente cercanos, etc.
    </p>
    <a class="btn btn-primary" href="/taller-2/personajes">Ver resultados</a>
  </div>

  <div class="col-md">
    <h2>TagCloud</h2>
    <p>
      Visualizar los resultados del análisis de coyuntura. En UNA página de visualización muestre un tagCloud con los hashtags más frecuentes, visualizar la polaridad de los tuits relacionados y su contenido.
    </p>
    <a class="btn btn-primary" href="/taller-2/tagcloud">Ver resultados</a>
  </div>

  <div class="col-md">
      <h2>Relaciones Usuarios – Temas – Actividad</h2>
      <p>
        Elabore una visualización que le permita ilustrar las relaciones Usuarios – Temas – Actividad en la red social, para aquello que monitorea.
      </p>
      <a class="btn btn-primary" href="/taller-2/heatmap">Ver resultados</a>
    </div>
</div>

<% include partials/footer %>