<% include partials/head %>
<div class="row">
    <div class="col-lg">
      <h1 class="mt-5">Taller 2</h1>
    </div>
</div>
<div class="row">
  <div class="col-md">
    <h2>Personajes</h2>
    <p>
      Visualizar la información básica de personajes o sitios geográficos mencionados. Debe poder relacionar dichas entidades por algún criterio encontrado en su información de base. Por ejemplo, todos los personajes mencionados que nacen en cierto rango de fechas, sitios que son geográficamente cercanos, etc.
    </p>
    <a class="btn btn-primary" href="/taller-2/personajes">Ver resultados</a>
  </div>

  <div class="col-md">
    <h2>TagCloud</h2>
    <p>
      Visualizar los resultados del análisis de coyuntura. En UNA página de visualización muestre un tagCloud con los hashtags más frecuentes, visualizar la polaridad de los tuits relacionados y su contenido.
    </p>
    <a class="btn btn-primary" href="/taller-2/tagcloud">Ver resultados</a>
  </div>

</div>
<br />
<div class="row">

  <div class="col-md">
    <h2>Relaciones Usuarios, Temas, Actividad</h2>
    <p>
      Elabore una visualización que le permita ilustrar las relaciones Usuarios – Temas – Actividad en la red social, para aquello que monitorea.
    </p>
    <a class="btn btn-primary" href="/taller-2/relaciones">Ver resultados</a>
  </div>

  <div class="col-md">
    <h2>Dataset anotado</h2>
    <p>
      Visualizar los resultados de análisis de polaridad comparados con los encontrados en el dataset entregado. El sitio Web debe incluir explícitamente la citación de la fuente del dataset, tal como está especificado en la fuente.
    </p>
    <a class="btn btn-primary" href="/taller-2/anotado">Ver resultados</a>
  </div>

</div>
<br />
<div class="row">

  <div class="col-md">
    <h2>Bono</h2>
    <p>
      En UNA página de visualización muestre un mapa de los tuits geocodificados (sitio y cantidad de tuits), un tagCloud con los hashtags más frecuentes y una visualización de la polaridad que permita ver el contenido de los tuits relacionados.
    </p>
    <a class="btn btn-primary" href="/taller-2/bono">Ver resultados</a>
  </div>

  <div class="col-md">
    &nbsp;
  </div>

</div>

<% include partials/footer %>